{% extends 'base.html' %}

{% block title_block %}
    Edit {{ course_type.replace('_', ' ').title() }}
{% endblock %}

{% block content %}
    <h1>Edit {{ course_type.replace('_', ' ').title() }}</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {% if course_type == 'course' %}
            <div class="form-group">
                {{ form.course_name.label(class="form-control-label") }}
                {{ form.course_name(class="form-control") }}
                {% for error in form.course_name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <br>
            <div class="form-group">
                {{ form.course_code.label(class="form-control-label") }}
                {{ form.course_code(class="form-control") }}
                {% for error in form.course_code.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

        {% elif course_type == 'year_level' %}
            <div class="form-group">
                {{ form.level_name.label(class="form-control-label") }}
                {{ form.level_name(class="form-control") }}
                {% for error in form.level_name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% elif course_type == 'semester' %}
            <div class="form-group">
                {{ form.semester_name.label(class="form-control-label") }}
                {{ form.semester_name(class="form-control") }}
                {% for error in form.semester_name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <br>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('course.manage_course') }}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
