{% extends 'base.html' %}

{% block title_block %}
    View Students
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
{% endblock %}

{% block extra_scripts %}
    <script defer src="{{ url_for('static', filename='js/irregular_student.js') }}"></script>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
<h1 class="mb-4 text-center">Irregular Students</h1>
<table class="table table-hover " id="irregular_student">
    <thead>
    <tr>
        <th scope="col">Student ID</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Program & Section</th>
        <th scope="col">Enrolled Courses</th>
        <th scope="col">Correct Courses</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{{ student.student_number | upper }}</td>
            <td>{{ student.user.l_name | title }}</td>
            <td>{{ student.user.f_name | title }}</td>
            <td>{{ student.user.m_name | title }}</td>
            <td>{{ student.program_section | upper }}</td>
            <td>
                {% for course in student.courses %}
                    <span class="badge bg-info text-dark fs-6">{{ course.course_name | title }}</span><br>
                {% endfor %}
            </td>
            <td>
                {% if student.correct_courses %}
                    {% for course in student.correct_courses %}
                        <span class="badge bg-success fs-6">{{ course.course_name | title }}</span><br>

                    {% endfor %}
                {% else %}
                    <span class="text-danger">No courses available</span>
                {% endif %}
            </td>


        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}