{% extends 'base.html' %}

{% block title_block %}
    Manage Faculties
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faculty.css') }}">.
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/manage_faculties.js') }}"></script>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- Heading Section -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Manage Faculties</h1>
        <a href="{{ url_for('faculty.add_faculty') }}" class="btn btn-primary d-flex align-items-center">
            <i class='bx bxs-user-plus'></i>
            <span class="ms-2">Add Faculty</span>
        </a>
    </div>

    <div class="btn-group mb-3" role="group" aria-label="Manage Actions">
        {% include 'upload.html' %}
        <a href="{{ url_for('schedule.view_schedules') }}" class="btn btn-outline-primary d-flex align-items-center">
            <i class="fa-regular fa-eye"></i>
            <span class="ms-2">View all schedules</span>
        </a>
    </div>

    <br/>

    <table class="table table-hover" id="manage_faculties">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">No.</th>
            <th scope="col">Faculty Number</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Sex</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
    </table>

{% endblock %}
