{% extends 'base.html' %}

{% block title_block %}
    Manage Faculty
{% endblock %}

{% block extra_styles %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faculty.css') }}">
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/manage_faculties.js') }}"></script>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <!-- Heading Section -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Manage Faculty</h1>
        <a href="{{ url_for('faculty.add_faculty') }}" class="btn btn-primary d-flex align-items-center">
            <i class='bx bxs-user-plus'></i>
            <span class="ms-2">Add Faculty</span>
        </a>
    </div>

    <div class="btn-group mb-3 w-100" role="group" aria-label="Manage Actions">
        <div class="d-flex gap-2">
            {% include 'upload.html' %}
            <a href="{{ url_for('schedule.view_schedules') }}"
               class="btn btn-outline-primary d-flex align-items-center">
                <i class="fa-regular fa-eye"></i>
                <span class="ms-2">View all schedules</span>
            </a>
        </div>

        <!-- Reset Button aligned to the right -->
        <div class="ms-auto">
            <form action="{{ url_for('faculty.faculty_reset_schedules') }}"
                  method="POST"
                  onsubmit="return confirm('Are you sure you want to reset all faculty schedules?');">
                {{ delete_form.hidden_tag() }}
                <button type="submit" class="btn btn-outline-danger">RESET SCHEDULES</button>
            </form>
        </div>
    </div>


    <br/>

    <table class="table table-hover" id="manage_faculties">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">No.</th>
            <th scope="col">Profile Pic</th>
            <th scope="col">Faculty Number</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Sex</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
    </table>

    {% for faculty in faculties %}

        <!-- Modal for Enlarged Profile Picture -->
        <div class="modal fade" id="profileModal{{ faculty.id }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-dark">Profile Picture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="{{ faculty.user.profile_pic }}" alt="Profile Picture"
                             style="max-width: 100%; height: auto;">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}
