{% extends 'base.html' %}

{% block title_block %}
    Manage Faculties
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/faculty.css') }}">
{% endblock %}

{% block extra_scripts %}
    <script defer src="{{ url_for('static', filename='js/manage_faculties.js') }}"></script>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="d-flex justify-content-between align-items-center">
        <h1>Manage Faculties</h1>
        <a href="{{ url_for('faculty.add_faculty') }}" class="btn btn-primary">Add Faculties</a>
    </div>

    <table class="table table-hover" id="manage_faculties">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">No.</th>
            <th scope="col">Faculty Number</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Sex</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
    </table>
{% endblock %}
