{% extends 'base.html' %}

{% block content %}

    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <h1>Edit Schedule</h1>
    <br/><br>

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form action="" method="post">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label class="form-label">Faculty</label>
                <input type="text" class="form-control" value="{{ schedule.subject.faculty.full_name }}"
                       disabled>
            </div>
            <br/>
            <div class="form-group">
                <label class="form-label">Subject</label>
                <input type="text" class="form-control" value="{{ schedule.subject.subject_name }}" disabled>
            </div>
            <br/>
            <div class="form-group">
                {{ form.schedule_day.label(class="form-label") }}
                {{ form.schedule_day(class="form-control") }}
                {% for error in form.schedule_day.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br/>
            <div class="form-group">
                {{ form.schedule_time_from.label(class="form-label") }}
                {{ form.schedule_time_from(class="form-control") }}
                {% for error in form.schedule_time_from.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br/>
            <div class="form-group">
                {{ form.schedule_time_to.label(class="form-label") }}
                {{ form.schedule_time_to(class="form-control") }}
                {% for error in form.schedule_time_to.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br/>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                <a href="{{ url_for('schedule.manage_schedule') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

{% endblock %}
