{% extends 'base.html' %}

{% block title_block %}
    Add Subject
{% endblock %}


{% block content %}

    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <h1>Add Subject!</h1>
    <br/><br>

    <div class="shadow-lg p-3 mb-5 rounded">
        <form action="" method="post">
            {{ form.hidden_tag() }}


            <div class="form-group">
                {{ form.code.label(class="form-label") }}
                {{ form.code(class="form-control") }}
                {% for error in form.code.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br/>
            <br/>
            <div class="form-group">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br/>
            <br/>
            <div class="form-group">
                {{ form.units.label(class="form-label") }}
                {{ form.units(class="form-control") }}
                {% for error in form.units.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <br/>
            <br/>
            <br/>
            <div class="form-group">
                {{ form.submit(class="btn btn-secondary") }}
                <a href="{{ url_for('subject.manage_subjects') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}
