{% extends 'base.html' %}

{% block title_block %}
    View Schedules
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/program_schedule.css') }}">
{% endblock %}

{% block extra_scripts %}
    <script defer src="{{ url_for('static', filename='js/view_schedules.js') }}"></script>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="container mt-4">
        <h1>View Current Schedules</h1>
        <br>
        <table class="table table-hover table-striped" id="view_schedules">
            <thead>
            <tr>
                <th></th>
                <th>Course</th>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Program & Section</th>
                <th>Semester</th>

            </tr>
            </thead>
            <tbody>
            {% for sched in schedules %}
                <tr>
                    <td></td>
                    <td>{{ sched.course.course_name | title }}</td>
                    <td>{{ sched.day.name | upper }}</td>
                    <td>{{ sched.formatted_start_time | upper }}</td>
                    <td>{{ sched.formatted_end_time | upper }}</td>
                    <td>{{ sched.faculty_course_schedules[0].program.program_code | upper }}
                        {{ sched.faculty_course_schedules[0].year_level.level_code }}{{ sched.faculty_course_schedules[0].section.display_name | upper }}</td>
                    <td>{{ sched.formatted_semester_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('faculty.manage_faculty') }}" class="btn btn-secondary">Back to Manage Faculties</a>
    </div>
{% endblock %}
