{% extends 'base.html' %}

{% block title_block %}
    Manage Department Details
{% endblock %}

{% block extra_scripts %}
    <script defer src="{{ url_for('static', filename='js/manage_department_details.js') }}"></script>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="d-flex justify-content-between align-items-center">
        <h1>Manage Department Details</h1>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">Add Course</div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('department.manage_department_details') }}">
                            {{ course_form.hidden_tag() }}
                            <div class="form-group">
                                {{ course_form.course_name.label(class="form-control-label") }}
                                {{ course_form.course_name(class="form-control") }}
                                {% for error in course_form.course_name.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{ course_form.course_code.label(class="form-control-label") }}
                                {{ course_form.course_code(class="form-control") }}
                                {% for error in course_form.course_code.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                            {{ course_form.submit(class="btn btn-primary") }}
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">Add Section</div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('department.manage_department_details') }}">
                            {{ section_form.hidden_tag() }}
                            <div class="form-group">
                                {{ section_form.section_range.label(class="form-control-label") }}
                                {{ section_form.section_range(class="form-control") }}
                                {% for error in section_form.section_range.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                            {{ section_form.submit(class="btn btn-primary") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <h2>Existing Courses</h2>
            <table class="table table-bordered manage_department_details">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Course Name</th>
                    <th>Course Code</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.course_code or 'N/A' }}</td>
                        <td>
                            <a href="{{ url_for('department.edit_department', detail_type='course', detail_id=course.id) }}"
                               class="btn btn-warning btn-sm">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                               data-bs-target="#deleteModalCourse{{ course.id }}">
                                <img src="{{ url_for('static', filename='images/icons/trash-fill.svg') }}"
                                     alt="Trash Icon">
                            </a>
                            <div class="modal fade" id="deleteModalCourse{{ course.id }}" tabindex="-1"
                                 aria-labelledby="deleteModalLabelCourse{{ course.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabelCourse{{ course.id }}">Confirm
                                                Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete {{ course.course_name }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cancel
                                            </button>
                                            <form method="POST"
                                                  action="{{ url_for('department.delete_department', detail_type='course', detail_id=course.id) }}">
                                                {{ delete_form.hidden_tag() }}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <h2>Existing Sections</h2>
            <table class="table table-bordered manage_department_details">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Section Range</th>
                </tr>
                </thead>
                <tbody>
                {% for section in sections %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ section.section_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
