{% extends 'base.html' %}

{% block title_block %}
    View Attendance
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block extra_scripts %}
    <script defer src="{{ url_for('static', filename='js/view_attendance.js') }}"></script>
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="d-flex justify-content-between align-items-center">
        <h1>View Class Attendance</h1>
        <a href="{{ url_for('student.add_student') }}" class="btn btn-primary">Add Students</a>
    </div>

    <br/><br>

    <form method="GET" action="{{ url_for('instructor.view_attendance') }}">
        <div class="row mb-3">
            <div class="col-md-3">
                <select class="form-control" name="section">
                    <option value="">Select Section</option>
                    {% for section in sections %}
                        <option value="{{ section.section }}"
                                {% if section.section == section_filter %}selected{% endif %}>{{ section.section }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="year">
                    <option value="">Select Year</option>
                    {% for year in years %}
                        <option value="{{ year.year_level }}"
                                {% if year.year_level == year_filter %}selected{% endif %}>{{ year.year_level }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="subject">
                    <option value="">Select Subject</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.subject_name }}"
                                {% if subject.subject_name == subject_filter %}selected{% endif %}>{{ subject.subject_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" name="date" placeholder="Date" value="{{ date_filter }}">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>



    <table class="table table-striped table-responsive" id="view_attendance">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Student Number</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if students %}
            {% for student in students %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ student.user.rfid_uid }}</td>
                    <td>{{ student.user.f_name }}</td>
                    <td>{{ student.user.m_name }}</td>
                    <td>{{ student.user.l_name }}</td>
                    <td>{{ student.user.email }}</td>
                    <td>{{ student_attendance[student.id] }}</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm">View</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">No students found.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>



{% endblock %}
