{% extends 'base.html' %}

{% block title_block %}
    Admin Profile
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/address.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block extra_scripts %}
    <!-- jQuery -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Select2 JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    {#    <!-- Custom JS -->#}
    <script defer src="{{ url_for('static', filename='js/address/ph-address-selector.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.addEventListener('keydown', function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}

    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}


    <div class="container">
        <h1 class="mt-5 mb-4">Admin Profile Page</h1>
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data"
                      action="{{ url_for('admin_acc.admin_profile', admin_id=admin.id) }}"
                      class="was-validated">
                    {{ form.csrf_token }}

                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title">School Information</h5>
                        {% if admin.user.totp_verified %}
                            <h6 class="text-danger">TOTP already verified.</h6>
                        {% endif %}
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                {{ form.rfid_uid.label(class="form-label") }}
                                {{ form.rfid_uid(class="form-control", value=form.rfid_uid.data | upper) }}
                                {% for error in form.rfid_uid.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                {{ form.school_id.label(class="form-label") }}
                                {{ form.school_id(class="form-control", value=form.school_id.data | title) }}
                                {% for error in form.school_id.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4 d-none">
                            <div class="mb-3">
                                {{ form.email.label(class="form-label") }}
                                {{ form.email(class="form-control", value=form.email.data) }}
                                {% for error in form.email.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <h5 class="card-title">Basic Information</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                {{ form.f_name.label(class="form-label") }}
                                {{ form.f_name(class="form-control", value=form.f_name.data | title) }}
                                {% for error in form.f_name.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                {{ form.m_name.label(class="form-label") }}
                                {{ form.m_name(class="form-control", value=form.m_name.data | title) }}
                                {% for error in form.m_name.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                {{ form.l_name.label(class="form-label") }}
                                {{ form.l_name(class="form-control", value=form.l_name.data | title) }}
                                {% for error in form.l_name.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                {{ form.gender.label(class="form-label") }}
                                {{ form.gender(class="form-control", value=form.gender.data | title) }}
                                {% for error in form.gender.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    {% if not admin.user.totp_verified %}
        {% include 'totp-warning.html' %}
        <br>
    {% endif %}
{% endblock %}

