{% set include_navbar_css = true %}
{% set include_navbar_js = true %}

{% block extra_styles %}
    {% if include_navbar_css %}
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    {% if include_navbar_js %}
        <script defer src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    {% endif %}
{% endblock %}


<nav>
    <i class='bx bx-menu'></i>
    <form action="#">
        <div class="form-input">
            <input type="search" placeholder="Search...">
            <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
        </div>
    </form>
    <input type="checkbox" id="theme-toggle" hidden>
    <label for="theme-toggle" class="theme-toggle"></label>
    <a href="#" class="notif">
        <i class='bx bx-bell'></i>
        <span class="count">12</span>
    </a>
    <a href="#" class="profile">
        <img src="images/logo.png">
    </a>
</nav>
