{% extends 'base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block extra_styles %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

    {% for message in get_flashed_messages(with_categories=true) %}
        {% if message[0] == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
        {% elif message[0] == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% endif %}
    {{ message[1] }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <!----------------------- Login Container -------------------------->

        <div class="row border rounded-5 p-3  shadow box-area">
            <!--------------------------- Left Box ----------------------------->

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
                <div class="featured-image mb-3">
                    <img src="{{ url_for('static', filename='images/logo/ccs-logo1.png') }}" class="img-fluid"
                         alt="ccs logo"/>
                </div>
                <p class="text-white fs-2 login-text">
                    Please Login
                </p>
                <small class="text-white text-wrap text-center"
                       style="width: 17rem; font-family: 'Courier New', Courier, monospace;">Door Lock Attendance
                    Management System</small>
            </div>

            <!---------------------------- Right Box ---------------------------->

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Hello, Again</h2>
                        <p>We are happy to have you back.</p>
                    </div>
                    <form action="" method="post" class="was-validated">
                        {{ form.hidden_tag() }}

                        <div class="input-group mb-3">
                            {{ form.email(class="form-control form-control-lg bg-light fs-6", id="email", placeholder="email") }}
                            {% if form.email.errors %}
                                <div class="text-danger">
                                    {% for error in form.email.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        {#                        <div class="input-group mb-3">#}
                        {#                            {{ form.password(class="form-control form-control-lg bg-light fs-6", id="password", placeholder="*******") }}#}
                        {#                            {% if form.password.errors %}#}
                        {#                                <div class="text-danger">#}
                        {#                                    {% for error in form.password.errors %}#}
                        {#                                        <p>{{ error }}</p>#}
                        {#                                    {% endfor %}#}
                        {#                                </div>#}
                        {#                            {% endif %}#}
                        {#                        </div>#}

                        <div class="input-group mb-3">
                            {{ form.totp_code(class="form-control form-control-lg bg-light fs-6", id="totp_code", placeholder="TOTP Code") }}
                            {% if form.totp_code.errors %}
                                <div class="text-danger">
                                    {% for error in form.totp_code.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="input-group mb-3">
                            {{ form.submit(class="btn btn-lg btn-primary w-100 fs-6") }}
                        </div>
                    </form>
                    <div class="input-group mb-3">
                        <a href="{{ url_for('google.login') }}"
                           class="btn btn-lg btn-light w-100 fs-6 d-flex align-items-center">
                            <img src="{{ url_for('static', filename='images/logo/google.png') }}" style="width: 20px"
                                 class="me-2" alt="google logo"/>
                            <small>Sign In with CSPC Mail</small>
                        </a>
                    </div>

                    <div class="row">
                        <small>Don't have an account? <a href="{{ url_for('google.login') }}">Sign
                            Up using CSPC Mail</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
